<% include partials/header %>
<h1>All the posts</h1>
<% for(var i = 0; i< posts.length;i++){ %>
    <p><%= posts[i].post %>-<%= posts[i].author %></p>
<% } %>

<% posts.forEach(function(post){ %>
    <p><%= post.post %>-<%= post.author %></p>
<% }); %>
<% include partials/footer %>