<h1>This is the friend page</h1>

<% friends.forEach(function(friend){ %>
    <li><%= friend %></li>
<% }); %>

<form action = "/addFriend" method = "POST">
    <input type = "text" name = "newfriend" placeholder = "name"></input>
    <button>Add</button>
</form>